 <br><h1 class="section-title-h1"> Lorem, ipsum dolor.

</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo fuga necessitatibus doloremque, non reiciendis delectus dignissimos iusto nulla voluptates a?

        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia at enim ducimus nam dolor totam aspernatur deserunt dolorem nihil labore modi, optio, hic neque fugit laudantium? Numquam ipsa, nesciunt unde earum dolor, exercitationem reprehenderit aliquam quo excepturi sapiente nihil officia.


        </p>

<div class="linken">
<div class="image-div">
    <div>
    <img src="/assets/stress-relax.png" alt="image left top" class="" />
    </div>
    <div>
    <h3 class="section-title-h3"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
    <p>Klik op de knop hieronder om meteen naar dé () cursus te gaan.</p>
    <a href="https://www.paypro.nl/producten/Ont-stressen_kun_je_leren_-_online_cursus_/88513/99130" class="btn btn--primary"
            >GA DIRECT NAAR DE CURSUS!</a>
    </div>
</div>
</div>