---
title: Blogpage thuis bier brouwen
metatitle: "Blog's van Nu ontstressen"
metadescription: Blog met informatie en tips! Ontstressen kun je leren met tips & tricks of is een online cursus iets voor jou?, heeft u stress lees dan verder!
layout: 'base.njk'
---

<div class="section container catagory">
  <div class="header-two">
<h1 class="section-title">Blogs</h1>
<div>
            <ul class="list-catagory">
              <li class="nav-item">
                Catagoriën
              </li>
              <li class="nav-item">
					      <a href="/blogs/catagories/bierbrouwpakket" class="nav-link">Bierbrouwpakketten</a>
			        </li>
              <li class="nav-item">
                <a href="/blogs/catagories/2" class="nav-link">Bierbrouwproducten</a>
              </li>
              <li class="nav-item">
                <a href="/blogs/catagories/3" class="nav-link">Bier soorten</a>
              </li>
              {# <li class="nav-item">
                <a href="/blogs/catagories/4" class="nav-link">4</a>
              </li>
              <li class="nav-item">
                <a href="/blogs/catagories/5" class="nav-link">5</a>
              </li>
              <li class="nav-item">
                <a href="/blogs/catagories/6/" class="nav-link">6</a>
              </li> #}
            </ul>
</div>

</div>
 <p class="blog_tekst">
    Wij hebben verschillende catagoriën waar wij onze blogs in onder hebben gebracht.<br>
    Zo kan jij snel en makkelijk de keuze van jou interesse maken (Klik op jou keuze).<br>
    Of bekijk alle blogs!
</p>
<ul role="list" class="articles__list flow">
  {%- for post in collections.post  | reverse-%}
    {% include "article-snippet.njk" %}
  {%- endfor -%}
</ul>
</div>
