---
title: Homepage thuis bier brouwen
metatitle: "Homepage van Nu ontstressen"
metadescription: Ontstressen kun je leren met tips & tricks of is een online cursus iets voor jou?, heeft u stress lees dan verder!
layout: 'base.njk'
---

  <section class="hero">
    <div class="container flow">
      <div class="hero__content flow">
        <div class="section-title-img">
          <div class="image-div-1">
      <aside class="aside-text">
        <h3 class="section-title-h3">Een website over thuis zelf bier brouwen</h3><br>
        <p>
          Op deze website vind je allerlei informatie, tips, cursussen en Producten hoe je thuis zelf bier kunt brouwen voor thuis bier brouwers.
        </p>
        <p>
          Lees verder of <a href="./blog">ga direct naar de blogs</a> voor meer informatie en tips.
        </p>
        </aside>
        <aside class="aside-list">
          <h3 class="section-title-h3">Wat kun je verwachten</h3>
        <ul>
          <li>Actuele informatie over bier brouwen!</li>
          <li>De beste en goedkoopste Producten!</li>
          <li>De beste cursussen!</li>
          <li>Beter bier brouwen d.m.v. tips & tricks!</li>
          <li>Elke week nieuwe blog's</li>
        </ul>
        <a href="/blogs/blogpage/" class="btn btn--primary"
            >Direct naar de blogs</a
          >
      </aside>
      </div>
      <h1 class="section-title">Leren bier brouwen</h1><br>
      </div>
      <div class="image-div">
      <div>
        <img src="/assets/hero.png" alt="image left top" class="hero__image" />
      </div>
      <div>
        <p>
            Het ambacht van het brouwen van bier verplaatst zich steeds vaker naar de keuken. 
            Het is een leuke hobby, maar wat moet je nu allemaal weten over het zelf thuis brouwen van bier?
        </p><br>
        <p>
            Maar als je net begint met brouwen heb je nog geen idee wat er bedoelt wordt met "Enten, bostel, maischen en bijvoorbeeld schroten".
        </p><br>
        <p>
            Met deze website probeer ik je wegwijs te maken in de wereld van zelf bier brouwen. Er zijn artikelen en blogs waarin ik uitleg geef over Bier brouw pakketten, Bier brouw producten en worden er een aantal cursussen beschreven die ik zelf heb gevolgd.  
        </p>
        </div>
      </div>
        <br>
     
        {% include 'base-article.njk' %}
        <p>
          Of lees meer over () in de volgende artikelen, ga naar de blogs of ga direct naar de cursussen en producten.
        </p><br>
        <div class="flex-group">
          <a href="#featured-articles" class="btn btn--neutral"
            >Artikelen</a
          >
          <a href="./blogs/blogpage" class="btn btn--primary"
            >Direct naar de blogs</a
          >
        </div>
        <div>
    <img src="/assets/beers.jpg" alt="image left top" class="hero__image-bottom" />
    </div>
      </div>
      
    </div>
  </section>

  <section id="featured-articles" class="featured-articles">
    <div class="container flow">
      <h2 class="section-title text-center">Aanbevolen artikelen</h2>
      <ul role="list" class="articles__list flow">
        {%- for post in collections.featured  | reverse-%}
          {% include "article-snippet.njk" %}
          {%- endfor -%}
      </ul>
    </div>
  </section>
  
  


