---
title: Homepage New
metatitle: "Homepage van Nu ontstressen"
metadescription: Ontstressen kun je leren met tips & tricks of is een online cursus iets voor jou?, heeft u stress lees dan verder!
layout: 'base.njk'
---

  <section class="hero">
    <div class="container flow">
      <div class="hero__content flow">
        <div class="section-title-img">
          <div class="image-div-1">
      <aside class="aside-text">
        <h3 class="section-title-h3">Een website over ()</h3><br>
        <p>
          Op deze website vind je allerlei informatie, tips, cursussen en Producten hoe je () en Lorem ipsum dolor sit, amet consectetur adipisicing..
        </p>
        <p>
          Lees verder of <a href="./blog">ga direct naar de blogs</a> voor meer informatie en tips.
        </p>
        </aside>
        <aside class="aside-list">
          <h3 class="section-title-h3">Wat kun je verwachten</h3>
        <ul>
          <li>Actuele informatie over ()!</li>
          <li>Tips om ()</li>
          <li>De beste en goedkoopste Producten!</li>
          <li>De beste cursussen!</li>
          <li>Beter () d.m.v. tips & tricks!</li>
          <li>Elke week nieuwe blog's</li>
        </ul>
        <a href="./blog" class="btn btn--primary"
            >Direct naar de blogs</a
          >
      </aside>
      </div>
      <h1 class="section-title">Lorem, ipsum dolor</h1><br>
      </div>
      <div class="image-div">
      <div>
        <img src="/assets/hero.png" alt="image left top" class="hero__image" />
      </div>
      <div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo maiores, eius sed tempora, ratione id odit ut, voluptatibus unde dicta explicabo nam veniam quibusdam repellendus.


        </p><br>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non fugit sit vel consequatur repellat, laboriosam eaque sed veniam nisi quis?


        </p>
        </div>
      </div>
        <br>
        <h2 class="section-title-h2">Lorem, ipsum dolor</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, fugit quae ipsam quo placeat error aliquid, exercitationem reiciendis hic adipisci eos iste modi. Nostrum dolore voluptatum dolores placeat sed consectetur quae sapiente minima voluptas! Ut reiciendis fugit recusandae nemo? Deserunt incidunt mollitia porro veniam, voluptatem, rem nobis exercitationem neque praesentium dignissimos in placeat officia suscipit est dolore facere ipsum impedit omnis maiores, veritatis dolorum recusandae iure excepturi! Fugit, veritatis deleniti!
        </p>
        <div class="giphy">
          <iframe src="https://giphy.com/embed/wyD2b2fkLDxnJmmL1j" width="280" height="280" frameBorder="0" class="giphy-embed" allowFullScreen target="_blank"></iframe><p><a href="https://giphy.com/gifs/PsychosozialeDiensteWien-darberredenwir-darber-reden-wyD2b2fkLDxnJmmL1j"></a></p>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque facere incidunt, nulla, eius quis dolor natus odit qui tenetur assumenda delectus sequi. Dolores pariatur harum sit molestias culpa aliquam. Eum delectus, voluptatibus incidunt quidem similique iure sunt ipsum ipsa, tenetur deleniti quos quo totam nulla veniam exercitationem unde assumenda laudantium!</p><br>
        <h2 class="section-title-h2"> Lorem, ipsum dolor</h2>
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing:
        </p>
        <ul>
          <li>Lorem, ipsum</li>
          <li>Lorem, ipsum</li>
          <li>Lorem, ipsum</li>
          <li>Lorem, ipsum</li>
          <li>Lorem, ipsum</li>
        </ul>
        
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque sapiente ratione dignissimos facilis qui hic deserunt tempora adipisci, quam corporis dolor corrupti consequatur rerum error.
        </p>
        <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque sapiente ratione dignissimos facilis qui hic deserunt tempora adipisci, quam corporis dolor corrupti consequatur rerum error.
        </p>
        {% include 'base-article.njk' %}
        <p>
          Of lees meer over () in de volgende artikelen, ga naar de blogs of ga direct naar de cursussen en producten.
        </p><br>
        <div class="flex-group">
          <a href="#featured-articles" class="btn btn--neutral"
            >Artikelen</a
          >
          <a href="./blogs/blogpage" class="btn btn--primary"
            >Direct naar de blogs</a
          >
        </div>
        <div>
    <img src="/assets/books.jpg" alt="image left top" class="hero__image-bottom" />
    </div>
      </div>
      
    </div>
  </section>

  <section id="featured-articles" class="featured-articles">
    <div class="container flow">
      <h2 class="section-title text-center">Aanbevolen artikelen</h2>
      <ul role="list" class="articles__list flow">
        {%- for post in collections.featured  | reverse-%}
          {% include "article-snippet.njk" %}
          {%- endfor -%}
      </ul>
    </div>
  </section>
  


