---
title: Tips Nu ontstressen
metatitle: "Blog's met algemene tips over en tegen stress"
metadescription: Algemene tips om stress te verminderen . Nu ontstressen kun je leren met tips & tricks of is een online cursus iets voor jou?, heeft u stress lees dan verder!
layout: 'base.njk'
---
<div class="section container catagory">
  <div class="header-six">
<h1 class="section-title-2">5</h1>
<div>
            <ul class="list-catagory">
              <li class="nav-item">
                Catagoriën
              </li>
              <li class="nav-item">
					      <a href="/blogs/catagories/1" class="nav-link">1</a>
			        </li>
              <li class="nav-item">
                <a href="/blogs/catagories/2" class="nav-link">2</a>
              </li>
              <li class="nav-item">
                <a href="/blogs/catagories/3" class="nav-link">3</a>
              </li>
              <li class="nav-item">
                <a href="/blogs/catagories/4" class="nav-link">4</a>
              </li>
              <li class="nav-item">
                <a href="/blogs/catagories/6" class="nav-link">6</a>
              </li>
            </ul>
</div>
</div>
<ul role="list" class="articles__list flow">
  {%- for post in collections.tips  | reverse-%}
    {% include "article-snippet.njk" %}
  {%- endfor -%}
</ul>
</div>